.carousel-item img{
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    max-height: 60vh;
}

#titlebox{
    margin:0;
    padding: 30px 50px;
    text-transform: capitalize;
}

#titlebox h2{
    margin:0;
}

#details{
    padding: 20px;
    margin: auto;
    padding-bottom: 100px;
}

.map-responsive{    
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}