.card{
  margin:0 auto;

}

#card-link,
#card-link:hover {
  color: inherit;
  text-decoration: none;
}

#card-link{
  margin:0;
  padding:0;
}

#filters{
  padding:0 50px 20px;  
} 

.card-deck{
  padding: 30px;
  padding-bottom: 100px; 
}

.card-body{
  
  height: 150px;
  overflow: auto;
}

.card-title{
  margin-bottom: 0 !important;
  text-transform: capitalize;
}