#error-box{
	height:120px;
	display: flex;
}

#error-box span{
	padding: 5px;
	align-self: flex-end;
	margin-bottom:5px;
}

#typeOption{
	padding: 6px;
	margin: 0;
	text-transform: capitalize;
}

#multi-gallery img{
	height: 100px;
	width:auto;
	padding: 1px;
}

#existing-gallery img{
	height: 100px;
	width:auto;
	padding: 1px;
}

#cover-preview img{
	width:100%;
	height:auto;
}

#delete-btn:hover{
	color: red;
}